Repository premiscale/premiscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cog

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.0.4
# fail_fast: true

default_stages:
  - commit
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=10000, --enforce-all]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: mypy
        language: script
        name: mypy
        entry: /usr/bin/env poetry run mypy
        args:
          - --non-interactive
          - --install-types
          - --config-file=pyproject.toml
        files: src/
        types:
          - python
      - id: pylint
        language: script
        name: pylint
        entry: /usr/bin/env poetry run pylint
        args: []
        files: src/
        types:
          - python
      - id: cog
        language: script
        name: cog
        entry: /usr/bin/env poetry run cog --check -r -c -U README.md
        args: []
        files: ^(README.md|src/premiscale/controller/cli.py)$
        types:
          - markdown
        # additional_dependencies:
        #   - cog

  # Abuse the helm-readme-generator to generate READMEs for the CRDs and operator.
  - repo: https://github.com/bitnami/readme-generator-for-helm
    rev: 2.6.1
    hooks:
      - id: helm-readme-generator
        name: controller default config docs generator
        pass_filenames: false
        always_run: true
        # As new default configs are added and the versions bumped, we should be changing the '--readme' pointer.
        args:
          - --readme=src/premiscale/config/docs/default.md
          - --values=src/premiscale/config/default.yaml
      - id: helm-readme-generator
        name: controller-helm-chart-schema-generator
        pass_filenames: false
        always_run: true
        args:
          - --readme=helm/premiscale/README.md
          - --values=helm/premiscale/values.yaml
          - --schema=helm/premiscale/values.schema.json

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        args:
          - -x

  - repo: https://github.com/bjd2385/circleci-config-pre-commit-hook
    rev: v1.1.2
    hooks:
      - id: circleci-config-validate

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint
        args:
          - Dockerfile
          - --config
          - .github/.hadolint.yaml

  # - repo: https://github.com/k-ogawa-1988/yamale-pre-commit
  #   rev: v0.0.2
  #   hooks:
  #     - id: yamale-validate
  #       args:
  #         - conf/schema.yaml

  # - repo: https://github.com/gruntwork-io/pre-commit
  #   rev: v0.1.22
  #   hooks:
  #     - id: helmlint

  - repo: https://github.com/python-poetry/poetry
    rev: 1.5.0
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.13
    hooks:
      - id: validate-pyproject

  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   rev: v0.0.237
  #   hooks:
  #     - id: ruff
  #       args: [--fix]
  #       exclude: ^resources

  - repo: https://github.com/premiscale/pre-commit-hooks
    rev: v0.0.9
    hooks:
    - id: msg-issue-prefix

switch-config-parse-to-attrs: update docstrings
  .pre-commit-config.yaml
  compose.yaml
  poetry.lock
  pyproject.toml
  src/premiscale/api/__init__.py
  src/premiscale/api/healthcheck/__init__.py
  src/premiscale/api/healthcheck/routes.py
  src/premiscale/autoscaling/__init__.py
  src/premiscale/autoscaling/actions.py
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/default.md
  src/premiscale/config/parse.py
  src/premiscale/config/v1alpha1.py
  src/premiscale/controller/_daemon.py
  src/premiscale/controller/_state.py
  src/premiscale/controller/metrics.py
  src/premiscale/controller/reconciliation.py
  src/premiscale/kubernetes/__init__.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/_base.py
  src/premiscale/metrics/local.py
  src/premiscale/platform/__init__.py
  src/premiscale/platform/utils.py
  src/premiscale/state/__init__.py
  src/premiscale/state/_base.py
  src/premiscale/state/local.py
  src/premiscale/state/mysql.py
  src/premiscale/utils.py
Due: mypy, pylint

switch-config-parse-to-attrs: updates
  README.md
  img/premiscale-architecture-controller_internal_autoscaler_disabled.png
Due: cog

switch-config-parse-to-attrs: add help
  README.md
  src/premiscale/api/healthcheck/__init__.py
Due: mypy, pylint, cog

switch-config-parse-to-attrs: disable logging for werkzeug
  src/premiscale/api/__init__.py
  src/premiscale/cli.py
Due: mypy, pylint

update-diagrams: fix diagrams
  README.md
  img/premiscale-architecture-controller_internal_autoscaler_disabled.png
  img/premiscale-architecture-controller_internal_autoscaler_enabled.png
Due: cog

master: sync
  img/premiscale-architecture-controller.png
Due: none

master: update diagrams
  img/premiscale-architecture-controller_internal_autoscaler_disabled.png
  img/premiscale-architecture-controller_internal_autoscaler_enabled.png
Due: none

master: sync badges
  README.md
Due: cog

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

: master: create contributing guide
  .github/settings.yml
  README.md
  poetry.lock
Due: cog

master: add docs
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  docs/index.html
  docs/premiscale.html
  docs/premiscale/api.html
  docs/premiscale/api/healthcheck.html
  docs/premiscale/autoscaling.html
  docs/premiscale/autoscaling/actions.html
  docs/premiscale/cli.html
  docs/premiscale/config.html
  docs/premiscale/config/parse.html
  docs/premiscale/config/schemas.html
  docs/premiscale/config/v1alpha1.html
  docs/premiscale/controller.html
  docs/premiscale/controller/_daemon.html
  docs/premiscale/controller/reconciliation.html
  docs/premiscale/exceptions.html
  docs/premiscale/hypervisor.html
  docs/premiscale/hypervisor/esx.html
  docs/premiscale/hypervisor/kubevirt.html
  docs/premiscale/hypervisor/libvirt.html
  docs/premiscale/hypervisor/qemu.html
  docs/premiscale/hypervisor/xen.html
  docs/premiscale/kubernetes.html
  docs/premiscale/kubernetes/interface.html
  docs/premiscale/metrics.html
  docs/premiscale/metrics/_base.html
  docs/premiscale/metrics/influxdb.html
  docs/premiscale/metrics/local.html
  docs/premiscale/platform.html
  docs/premiscale/platform/utils.html
  docs/premiscale/state.html
  docs/premiscale/state/_base.html
  docs/premiscale/state/local.html
  docs/premiscale/state/mysql.html
  docs/premiscale/state/sql.html
  docs/premiscale/utils.html
  docs/search.js
  poetry.lock
  pyproject.toml
Due: none

Create CNAME
  docs/CNAME
Due: none

update-schema: update config validation steps
  poetry.lock
  pyproject.toml
  src/premiscale/cli.py
  src/premiscale/config/parse.py
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/controller/_daemon.py
Due: mypy, pylint

update-schema: schema validation is now working
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/config/parse.py
Due: mypy, pylint

libvirt-connections: create base class and manage connections
  README.md
  src/premiscale/autoscaling/actions.py
  src/premiscale/hypervisor/__init__.py
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/esx.py
  src/premiscale/hypervisor/libvirt.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/xen.py
Due: mypy, pylint, cog

libvirt-connections: add a basic test case for connecting to hosts
  poetry.lock
  requirements.txt
  src/premiscale/hypervisor/_base.py
  src/tests/data/config/__init__.py
  src/tests/data/config/v1alpha1_base+qemu_single_host_no_asg.yaml
Due: mypy, pylint

libvirt-connections: sync all local changes
  README.md
  poetry.lock
  pyproject.toml
  src/premiscale/autoscaling/__init__.py
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/default.md
  src/premiscale/config/examples/test.yaml
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/config/v1alpha1.py
  src/premiscale/controller/_daemon.py
  src/premiscale/controller/reconciliation.py
  src/premiscale/hypervisor/_base.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/_base.py
  src/premiscale/metrics/state/__init__.py
  src/premiscale/metrics/state/_base.py
  src/premiscale/metrics/state/local.py
  src/premiscale/metrics/state/mysql.py
  src/premiscale/metrics/state/sql/__init__.py
  src/premiscale/metrics/state/sql/create_asg.sql
  src/premiscale/metrics/state/sql/initialize_database.sql
  src/premiscale/metrics/timeseries/__init__.py
  src/premiscale/metrics/timeseries/_base.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/premiscale/metrics/timeseries/local.py
  src/premiscale/state/__init__.py
Due: mypy, pylint, cog

libvirt-connections: fix checksum
  README.md
  src/premiscale/controller/reconciliation.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint, cog

libvirt-connections: restructure reconciliation modules
  src/premiscale/controller/_daemon.py
  src/premiscale/reconciliation/__init__.py
  src/premiscale/reconciliation/internal.py
  src/premiscale/reconciliation/kubernetes.py
Due: mypy, pylint

libvirt-connections: further simplification
  src/premiscale/cli.py
  src/premiscale/controller/__init__.py
  src/premiscale/daemon.py
Due: mypy, pylint

libvirt-connections: slight regrouping
  src/premiscale/autoscaling/__init__.py
  src/premiscale/autoscaling/group.py
  src/premiscale/cli.py
  src/premiscale/config/docs/README.md
  src/premiscale/config/parse.py
  src/premiscale/daemon.py
Due: mypy, pylint

libvirt-connections: updated DaemonContext
  src/premiscale/daemon.py
  src/premiscale/metrics/__init__.py
  src/premiscale/platform/__init__.py
  src/premiscale/utils.py
Due: mypy, pylint

libvirt-connections: remove daemon context
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/config/parse.py
  src/premiscale/daemon.py
  src/premiscale/platform/__init__.py
  src/premiscale/utils.py
Due: mypy, pylint

libvirt-connections: update default mode
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/default.md
  src/premiscale/config/examples/test.yaml
  src/premiscale/daemon.py
Due: mypy, pylint

libvirt-connections: sync db updates
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/state/_base.py
  src/premiscale/metrics/state/local.py
  src/premiscale/metrics/state/mysql.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

libvirt-connections: in-memory state database connection is opened
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

libvirt-connections: tidying
  src/premiscale/hypervisor/__init__.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

libvirt-connections: sync work
  .github/settings.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/api/__init__.py
  src/premiscale/api/metrics/__init__.py
  src/premiscale/api/metrics/routes.py
  src/premiscale/hypervisor/__init__.py
  src/premiscale/hypervisor/esx.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/state/_base.py
  src/premiscale/metrics/state/local.py
  src/premiscale/metrics/state/mysql.py
  src/premiscale/metrics/timeseries/_base.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/test_hook.py
Due: mypy, pylint

libvirt-connections: getting closer
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/default.md
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/config/v1alpha1.py
  src/premiscale/hypervisor/__init__.py
  src/premiscale/hypervisor/esx.py
  src/premiscale/hypervisor/vmware.py
  src/premiscale/metrics/__init__.py
  src/tests/data/config/v1alpha1_base+qemu_single_host_no_asg.yaml
Due: mypy, pylint

connect-to-hosts: correct looping and threading logic wrapping list of hosts to visit
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

connect-to-hosts: sync
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

connect-to-hosts: run premiscale with the correct profile
  CONTRIBUTING.md
  compose.yaml
  scripts/docker/compose-down.sh
  scripts/docker/compose-up.sh
  src/premiscale/daemon.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

connect-to-hosts: fixes to test schema
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/metrics/__init__.py
  src/tests/data/config/v1alpha1_base+qemu_single_host_no_asg.yaml
Due: mypy, pylint

connect-to-hosts: sync; still debugging though
  src/premiscale/metrics/__init__.py
  src/tests/data/config/v1alpha1_base+qemu_single_host_no_asg.yaml
Due: mypy, pylint

connect-to-hosts: fix healthchecks
  compose.yaml
  src/premiscale/__init__.py
  src/premiscale/autoscaling/actions.py
  src/premiscale/config/v1alpha1.py
  src/premiscale/daemon.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

connect-to-hosts: fix types
  src/premiscale/__init__.py
  src/premiscale/daemon.py
  src/premiscale/metrics/state/_base.py
  src/premiscale/metrics/state/local.py
  src/premiscale/metrics/state/mysql.py
Due: mypy, pylint

connect-to-hosts: fix types
  src/premiscale/__init__.py
  src/premiscale/api/metrics/routes.py
  src/premiscale/autoscaling/actions.py
  src/premiscale/cli.py
  src/premiscale/config/v1alpha1.py
  src/premiscale/hypervisor/_base.py
Due: mypy, pylint
