Repository premiscale/premiscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cog

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.0.4
fail_fast: true
default_stages:
  - commit
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=10000, --enforce-all]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: mypy
        language: script
        name: mypy
        entry: /usr/bin/env poetry run mypy
        args:
          - --non-interactive
          - --install-types
          - --config-file=pyproject.toml
        files: src/
        types:
          - python
      - id: pylint
        language: script
        name: pylint
        entry: /usr/bin/env poetry run pylint
        args: []
        files: src/
        types:
          - python
      - id: cog
        language: script
        name: cog
        entry: /usr/bin/env poetry run cog --check -r -c -U README.md
        args: []
        files: README.md
        types:
          - markdown
        # additional_dependencies:
        #   - cog

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        args:
          - -x

  - repo: https://github.com/bjd2385/circleci-config-pre-commit-hook
    rev: v1.1.2
    hooks:
      - id: circleci-config-validate

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint
        args:
          - Dockerfile
          - Dockerfile.develop
          - docker/influxdb/Dockerfile
          - docker/mysql/Dockerfile
          - --config
          - .github/.hadolint.yaml

  # - repo: https://github.com/k-ogawa-1988/yamale-pre-commit
  #   rev: v0.0.2
  #   hooks:
  #     - id: yamale-validate
  #       args:
  #         - conf/schema.yaml

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.22
    hooks:
      - id: helmlint

  - repo: https://github.com/python-poetry/poetry
    rev: 1.5.0
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.13
    hooks:
      - id: validate-pyproject

  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   rev: v0.0.237
  #   hooks:
  #     - id: ruff
  #       args: [--fix]
  #       exclude: ^resources

  - repo: https://github.com/premiscale/pre-commit-hooks
    rev: v0.0.9
    hooks:
    - id: msg-issue-prefix

fix-echoes-send-recv: delete wheel
  libvirt_python-9.10.0-cp310-cp310-macosx_14_0_arm64.whl
Due: none

fix-echoes-send-recv: fix async queue
  src/premiscale/controller/platform.py
Due: mypy, pylint

fix-echoes-send-recv:
  src/premiscale/controller/actions.py
Due: mypy, pylint

ideas-for-new-databases: state
  src/premiscale/controller/cli.py
  src/premiscale/metrics/local.py
  src/premiscale/metrics/mongodb.py
  src/premiscale/state/local.py
  src/premiscale/state/mongodb.py
  src/premiscale/state/redis.py
Due: mypy, pylint

ideas-for-new-databases: fix healthcheck endpoint
  src/premiscale/healthcheck/server.py
Due: mypy, pylint

ideas-for-new-databases: sync
  compose.yaml
  pyproject.toml
Due: none

ideas-for-new-databases: sync
  Dockerfile
  Dockerfile.develop
  compose.yaml
  src/premiscale/api/__init__.py
  src/premiscale/api/healthcheck.py
  src/premiscale/api/imds.py
  src/premiscale/api/utils.py
  src/premiscale/controller/daemon.py
  src/premiscale/controller/platform.py
  src/premiscale/controller/utils.py
Due: mypy, pylint

ideas-for-new-databases: fix for healthcheck so far
  compose.yaml
  src/premiscale/controller/daemon.py
  src/premiscale/controller/platform.py
  src/premiscale/controller/utils.py
Due: mypy, pylint

ideas-for-new-databases: sync
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/api/config.py
  src/premiscale/api/healthcheck/__init__.py
  src/premiscale/api/healthcheck/routes.py
  src/premiscale/api/imds.py
  src/premiscale/api/imds/__init__.py
  src/premiscale/api/imds/auth.py
  src/premiscale/api/imds/routes.py
  src/premiscale/api/wsgi.py
  src/premiscale/controller/daemon.py
Due: mypy, pylint, cog

ideas-for-new-databases:
  README.md
  src/premiscale/api/healthcheck/routes.py
Due: mypy, pylint, cog

ideas-for-new-databases: many updates
  .circleci/config.yml
  .circleci/src.premiscale.config.data.yml
  .circleci/src.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.develop
  compose.yaml
  helm/premiscale/Chart.yaml
  helm/premiscale/README.md
  helm/premiscale/templates/configmap.yaml
  helm/premiscale/templates/deployment.yaml
  helm/premiscale/templates/imds/README.md
  helm/premiscale/templates/imds/deployment.yaml
  helm/premiscale/templates/imds/hpa.yaml
  helm/premiscale/templates/imds/ingress.yaml
  helm/premiscale/templates/imds/service.yaml
  helm/premiscale/templates/registration-secret.yaml
  helm/premiscale/templates/service.yaml
  helm/premiscale/values.schema.json
  helm/premiscale/values.yaml
  package.json
  poetry.lock
  requirements.txt
  scripts/minikube.sh
  src/premiscale/config/data/README.md
  src/premiscale/config/data/default.schema.json
  src/premiscale/config/data/default.yaml
  src/premiscale/config/data/v1alpha1.md
  src/premiscale/healthcheck/routes.py
  src/premiscale/hypervisor/kubevirt.py
  src/test_hook.py
Due: mypy, pylint, cog

ideas-for-new-databases: remove all imds
  Dockerfile.imds
  Dockerfile.imds.develop
Due: none

ideas-for-new-databases: remove all imds
  pyproject.toml
Due: none

start-over: remove
  .circleci/tests.ignore
  .circleci/tests.yml
  .github/renovate.json
  .remove/helm/influxdb/.helmignore
  .remove/helm/influxdb/Chart.lock
  .remove/helm/influxdb/Chart.yaml
  .remove/helm/influxdb/templates/_helpers.tpl
  .remove/helm/influxdb/values.yaml
  .remove/helm/mysql/.helmignore
  .remove/helm/mysql/Chart.yaml
  .remove/helm/mysql/templates/_helpers.tpl
  .remove/helm/mysql/templates/sts.yaml
  .remove/helm/mysql/templates/svc.yaml
  .remove/helm/mysql/values.yaml
  src/imds/__init__.py
Due: mypy, pylint

start-over: switch license to the BSL
  .remove/helm/influxdb/.helmignore
  .remove/helm/influxdb/Chart.lock
  .remove/helm/influxdb/Chart.yaml
  .remove/helm/influxdb/templates/_helpers.tpl
  .remove/helm/influxdb/values.yaml
  .remove/helm/mysql/.helmignore
  .remove/helm/mysql/Chart.yaml
  .remove/helm/mysql/templates/_helpers.tpl
  .remove/helm/mysql/templates/sts.yaml
  .remove/helm/mysql/templates/svc.yaml
  .remove/helm/mysql/values.yaml
  Dockerfile
  LICENSE
Due: none

start-over: make repo public
  .github/settings.yml
Due: none

Update LICENSE
  LICENSE
Due: none

updates: fix PremiScale readme
  README.md
Due: cog

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

: master: fix helm chart
  .github/settings.yml
  helm/premiscale/Chart.yaml
  helm/premiscale/README.md
  helm/premiscale/templates/deployment.yaml
  helm/premiscale/values.schema.json
  helm/premiscale/values.yaml
  poetry.lock
  requirements.txt
Due: cog

fix-helm-chart: basis for development and deployment
  Dockerfile
  helm/premiscale/Chart.lock
  helm/premiscale/README.md
  helm/premiscale/templates/deployment.yaml
  helm/premiscale/templates/service.yaml
  helm/premiscale/templates/serviceaccount.yaml
  helm/premiscale/values.schema.json
  helm/premiscale/values.yaml
Due: cog

start-controller: fix docs, start controller again
  Dockerfile
  README.md
  compose.yaml
  package.json
  src/premiscale/config/data/default.yaml
Due: cog

fix-registration-endpoint: wrong path
  Dockerfile
  src/premiscale/controller/daemon.py
  src/premiscale/controller/platform.py
Due: mypy, pylint

fix-healtcheck: unhealthy
  Dockerfile
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/psthread.sh
  scripts/pstree.sh
  src/premiscale/__init__.py
  src/premiscale/controller/daemon.py
Due: mypy, pylint

master: update environment variables
  .pre-commit-config.yaml
  README.md
  src/premiscale/__init__.py
  src/premiscale/controller/cli.py
Due: mypy, pylint, cog

switch-config-parse-to-attrs: update docs and CLI, config parsing
  .pre-commit-config.yaml
  README.md
  helm/README.md
  helm/premiscale/README.md
  helm/premiscale/templates/deployment.yaml
  helm/premiscale/values.schema.json
  helm/premiscale/values.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/__init__.py
  src/premiscale/cli.py
  src/premiscale/config/data/default.schema.json
  src/premiscale/config/data/default.yaml
  src/premiscale/config/data/v1alpha1.md
  src/premiscale/config/v1alpha1.py
  src/premiscale/controller/daemon.py
Due: mypy, pylint, cog

switch-config-parse-to-attrs: updaet docs
  README.md
  src/premiscale/config/_config.py
  src/premiscale/config/v1alpha1.py
  src/premiscale/controller/daemon.py
Due: mypy, pylint, cog

switch-config-parse-to-attrs: additional thoughts
  README.md
  src/premiscale/config/data/default.yaml
  src/premiscale/config/v1alpha1.py
Due: mypy, pylint, cog

switch-config-parse-to-attrs: minor nit about arch diagram
  README.md
  img/premiscale-architecture-controller.png
Due: cog

switch-config-parse-to-attrs: updates to project structure and registration
  .pre-commit-config.yaml
  README.md
  compose.yaml
  helm/premiscale/README.md
  helm/premiscale/values.schema.json
  helm/premiscale/values.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/__init__.py
  src/premiscale/cli.py
  src/premiscale/config/__init__.py
  src/premiscale/config/data/README.md
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/README.md
  src/premiscale/config/docs/default.md
  src/premiscale/config/docs/v1alpha1.md
  src/premiscale/config/examples/test.yaml
  src/premiscale/config/parse.py
  src/premiscale/config/schemas/__init__.py
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/config/v1alpha1.py
  src/premiscale/controller/daemon.py
  src/premiscale/controller/platform.py
  src/premiscale/healthcheck/routes.py
  src/premiscale/utils.py
Due: mypy, pylint, cog

switch-config-parse-to-attrs: sync
  Dockerfile
  README.md
  src/premiscale/cli.py
  src/premiscale/controller/platform.py
Due: mypy, pylint, cog

switch-config-parse-to-attrs: nearly parsing config with attrs
  .github/settings.yml
  Dockerfile
  poetry.lock
  src/premiscale/cli.py
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/default.md
  src/premiscale/config/parse.py
  src/premiscale/config/v1alpha1.py
  src/premiscale/controller/platform.py
Due: mypy, pylint

switch-config-parse-to-attrs: enable buildkit, fix cattrs
  Dockerfile
  scripts/docker/compose-up.sh
  src/premiscale/cli.py
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/README.md
  src/premiscale/config/docs/default.md
  src/premiscale/config/parse.py
  src/premiscale/config/v1alpha1.py
  src/premiscale/controller/daemon.py
Due: mypy, pylint, cog

switch-config-parse-to-attrs: fixes for starting the controller again after config overhaul
  src/premiscale/controller/daemon.py
  src/premiscale/kubernetes/.gitkeep
Due: mypy, pylint

switch-config-parse-to-attrs: reorganize the platform module
  src/premiscale/controller/platform.py
  src/premiscale/exceptions.py
  src/premiscale/kubernetes/.gitkeep
  src/premiscale/kubernetes/__init__.py
  src/premiscale/utils.py
Due: mypy, pylint

switch-config-parse-to-attrs: sync database changes
  src/premiscale/cli.py
  src/premiscale/controller/_actions.py
  src/premiscale/controller/_daemon.py
  src/premiscale/controller/_state.py
  src/premiscale/controller/autoscaling.py
  src/premiscale/controller/metrics.py
  src/premiscale/controller/platform.py
  src/premiscale/controller/reconciliation.py
  src/premiscale/metrics/_base.py
  src/premiscale/metrics/influxdb.py
  src/premiscale/metrics/local.py
  src/premiscale/state/local.py
  src/premiscale/state/mysql/initialize_database.sql
  src/premiscale/state/redis.py
  src/premiscale/state/sql/__init__.py
  src/premiscale/state/sql/create_asg.sql
  src/premiscale/state/sql/initialize_database.sql
Due: mypy, pylint

switch-config-parse-to-attrs: sync
  src/premiscale/controller/_daemon.py
  src/premiscale/controller/platform.py
  src/premiscale/kubernetes/interface.py
Due: mypy, pylint
