Repository premiscale/premiscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cog

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.0.4
# fail_fast: true

default_stages:
  - commit
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=10000, --enforce-all]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: mypy
        language: script
        name: mypy
        entry: /usr/bin/env poetry run mypy
        args:
          - --non-interactive
          - --install-types
          - --config-file=pyproject.toml
        files: src/
        types:
          - python
      - id: pylint
        language: script
        name: pylint
        entry: /usr/bin/env poetry run pylint
        args: []
        files: src/
        types:
          - python
      - id: cog
        language: script
        name: cog
        entry: /usr/bin/env poetry run cog --check -r -c -U README.md
        args: []
        files: ^(README.md|src/premiscale/controller/cli.py)$
        types:
          - markdown
        # additional_dependencies:
        #   - cog

  # Abuse the helm-readme-generator to generate READMEs for the CRDs and operator.
  - repo: https://github.com/bitnami/readme-generator-for-helm
    rev: 2.6.1
    hooks:
      - id: helm-readme-generator
        name: controller default config docs generator
        pass_filenames: false
        always_run: true
        # As new default configs are added and the versions bumped, we should be changing the '--readme' pointer.
        args:
          - --readme=src/premiscale/config/docs/default.md
          - --values=src/premiscale/config/default.yaml
      - id: helm-readme-generator
        name: controller-helm-chart-schema-generator
        pass_filenames: false
        always_run: true
        args:
          - --readme=helm/premiscale/README.md
          - --values=helm/premiscale/values.yaml
          - --schema=helm/premiscale/values.schema.json

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        args:
          - -x

  - repo: https://github.com/bjd2385/circleci-config-pre-commit-hook
    rev: v1.1.2
    hooks:
      - id: circleci-config-validate

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint
        args:
          - Dockerfile
          - --config
          - .github/.hadolint.yaml

  # - repo: https://github.com/k-ogawa-1988/yamale-pre-commit
  #   rev: v0.0.2
  #   hooks:
  #     - id: yamale-validate
  #       args:
  #         - conf/schema.yaml

  # - repo: https://github.com/gruntwork-io/pre-commit
  #   rev: v0.1.22
  #   hooks:
  #     - id: helmlint

  - repo: https://github.com/python-poetry/poetry
    rev: 1.5.0
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.13
    hooks:
      - id: validate-pyproject

  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   rev: v0.0.237
  #   hooks:
  #     - id: ruff
  #       args: [--fix]
  #       exclude: ^resources

  - repo: https://github.com/premiscale/pre-commit-hooks
    rev: v0.0.9
    hooks:
    - id: msg-issue-prefix

AGENT-80: Add development dependency
  poetry.lock
  pyproject.toml
Due: none

AGENT-80: Fixed types dependency?
  poetry.lock
  pyproject.toml
Due: none

AGENT-80: Update config with fixes
  .circleci/config.yml
  .circleci/src.premiscale.config.data.yml
  .circleci/src.yml
Due: none

AGENT-80: Rerun CI
  .circleci/src.premiscale.config.data.yml
Due: none

AGENT-80: Bump version
  .circleci/config.yml
  .circleci/src.premiscale.config.data.yml
  .circleci/src.yml
Due: none

AGENT-80: Sync
  .circleci/config.yml
  .circleci/src.premiscale.config.data.yml
  .circleci/src.yml
Due: none

AGENT-80: Remove resource class since dependencies are now a thing
  .circleci/src.yml
Due: none

AGENT-80: Fix config file for pylint
  .circleci/src.yml
Due: none

AGENT-80: Sync metrics conversion updates
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/_schemas.py
  src/premiscale/hypervisor/esx.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/__init__.py
  src/tests/data/metrics/_-getHostVMStats-annotated.txt
Due: mypy, pylint, cog

AGENT-80: Fix imports
  src/premiscale/hypervisor/__init__.py
Due: mypy, pylint

AGENT-97: Run tinyflux entry conversion
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

AGENT-97: Cool so we're back to this problem
  src/premiscale/metrics/state/local.py
Due: mypy, pylint

AGENT-97: Fix mapping type assumed by Mypy
  poetry.lock
  src/premiscale/daemon.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/qemu_data.py
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

AGENT-97: Fix types
  poetry.lock
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/timeseries/_base.py
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

AGENT-97: Sync up classes
  poetry.lock
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/timeseries/_base.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

AGENT-97: Fix query
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

AGENT-97: Remove query code
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

AGENT-97: Debug metrics conversion
  .pre-commit-config.yaml
  README.md
  poetry.lock
  src/premiscale/config/docs/README.md
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/qemu_data.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint, cog

AGENT-97: Fix bug in string parsing, removeprefix() instead of lstrip()
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/qemu_data.py
Due: mypy, pylint

AGENT-97: Relocate regex compilation
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

AGENT-97: Break out method into function
  poetry.lock
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/qemu_data.py
Due: mypy, pylint

AGENT-97: Fix types
  src/premiscale/hypervisor/qemu_data.py
Due: mypy, pylint

AGENT-97: Fix block data parsing
  src/premiscale/hypervisor/qemu_data.py
  src/premiscale/metrics/timeseries/local.py
  src/tests/data/metrics/example-time-series-points.txt
Due: mypy, pylint

AGENT-97: Iterate over all measurements and run retention
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/qemu_data.py
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

AGENT-97: Fix rounding
  src/premiscale/hypervisor/qemu_data.py
Due: mypy, pylint

AGENT-97: Fix get-all and update example Points
  src/premiscale/metrics/timeseries/local.py
  src/tests/data/metrics/example-time-series-points.txt
Due: mypy, pylint

AGENT-111: Parse Point data with structure from cattrs instead of loops
  poetry.lock
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/qemu_data.py
Due: mypy, pylint

AGENT-15: Start reconciliation subprocess
  .github/settings.yml
  src/premiscale/metrics/__init__.py
  src/premiscale/reconciliation/internal.py
Due: mypy, pylint

AGENT-15: Grammar
  README.md
Due: cog

AGENT-15: Update lacking description
  poetry.lock
  pyproject.toml
Due: none

AGENT-15: Get controller to run on desktop
  poetry.lock
  requirements.txt
  scripts/docker/compose-up.sh
Due: none

AGENT-15: Sync
  poetry.lock
  src/premiscale/hypervisor/qemu.py
  src/premiscale/reconciliation/internal.py
Due: mypy, pylint

AGENT-15: Interface
  src/premiscale/autoscaling/actions.py
  src/premiscale/reconciliation/internal.py
Due: mypy, pylint

AGENT-15: Build out reconciliation control loop
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/reconciliation/internal.py
Due: mypy, pylint

AGENT-15: Fixes to types
  src/premiscale/reconciliation/internal.py
Due: mypy, pylint

AGENT-15: Fixes
  src/premiscale/hypervisor/qemu_data.py
  src/premiscale/metrics/timeseries/local.py
  src/premiscale/reconciliation/internal.py
Due: mypy, pylint

AGENT-15: At this time, there are 6 major verbs
  src/premiscale/autoscaling/actions.py
  src/premiscale/reconciliation/internal.py
Due: mypy, pylint

AGENT-15: Fix LibvirtError on connection fault
  src/premiscale/autoscaling/actions.py
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/timeseries/local.py
  src/premiscale/reconciliation/internal.py
Due: mypy, pylint

AGENT-15: Retry opening connection
  src/premiscale/hypervisor/_base.py
Due: mypy, pylint

AGENT-15: Sync
  src/premiscale/hypervisor/_base.py
Due: mypy, pylint
