Repository premiscale/premiscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cog

mypy:
  language: script
  name: mypy
  entry: /usr/bin/env poetry run mypy
  args:
  - --non-interactive
  - --install-types
  - --config-file=pyproject.toml

pylint:
  language: script
  name: pylint
  entry: /usr/bin/env poetry run pylint
  args: []

cog:
  language: script
  name: cog
  entry: /usr/bin/env poetry run cog --check -r -c -U README.md
  args: []

AGENT-15: Fix retry of libvirt connection decorator
  poetry.lock
  src/premiscale/hypervisor/_base.py
Due: mypy, pylint

AGENT-15: Fixed?
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

AGENT-15: Retries should be working
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

AGENT-114: Implement a Null action
  compose.yaml
  poetry.lock
  requirements.txt
Due: none

AGENT-114: Update diagrams
  img/premiscale-architecture-controller_internal_autoscaler_disabled.png
  img/premiscale-architecture-controller_internal_autoscaler_enabled.png
  poetry.lock
  src/premiscale/hypervisor/qemu_data.py
Due: mypy, pylint

AGENT-114: Minor upates
  src/premiscale/autoscaling/actions.py
  src/premiscale/autoscaling/group.py
Due: mypy, pylint

AGENT-114: Fix
  src/premiscale/autoscaling/actions.py
Due: mypy, pylint

AGENT-121: Deploy grafana and connect to InfluxDB
  compose.yaml
Due: none

master: revert diagrams
  img/premiscale-architecture-controller_internal_autoscaler_disabled.png
  img/premiscale-architecture-controller_internal_autoscaler_enabled.png
Due: none

AGENT-121: Fix diagrams to svgs
  README.md
  img/premiscale-architecture-controller_internal_autoscaler_disabled.svg
  img/premiscale-architecture-controller_internal_autoscaler_enabled.svg
  poetry.lock
Due: cog

AGENT-121: Update branch
  README.md
Due: cog

AGENT-121: Add grafana config
  compose.yaml
  config/grafana/config.ini
  scripts/docker/compose-up.sh
Due: none

AGENT-121: Sync
  compose.yaml
Due: none

AGENT-121: Sync updates
  compose.yaml
  config/grafana/config.ini
  config/nginx/compose.nginx.conf
  scripts/docker/compose-up.sh
Due: none

AGENT-121: Sync grafana updaes
  compose.yaml
  config/grafana/config.ini
  scripts/docker/compose-up.sh
Due: none

AGENT-121: Sync
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb.yaml
Due: none

AGENT-121: Sync
  README.md
  compose.yaml
  poetry.lock
  src/premiscale/metrics/timeseries/influxdb.py
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb.yaml
Due: mypy, pylint, cog

AGENT-121: Sync certificate updates
  config/grafana/config.ini
  scripts/docker/compose-up.sh
  scripts/generate-test-self-signed-certs.sh
Due: none

AGENT-121: Sync
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/config/v1alpha1.py
  src/premiscale/errors.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/timeseries/_base.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/premiscale/metrics/timeseries/local.py
  src/premiscale/platform/__init__.py
  src/premiscale/platform/utils.py
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb.yaml
Due: mypy, pylint

AGENT-121: Sync fixes to schema
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/tests/common.py
Due: mypy, pylint

AGENT-121: Sync
  src/premiscale/metrics/timeseries/influxdb.py
Due: mypy, pylint

AGENT-121: InfluxDB updates
  src/premiscale/hypervisor/qemu_data.py
  src/premiscale/metrics/timeseries/influxdb.py
Due: mypy, pylint

AGENT-121: Fixes for InfluxDB
  compose.yaml
  src/premiscale/daemon.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb.yaml
Due: mypy, pylint

AGENT-121: Sync fixes to field name
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/default.md
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/config/v1alpha1.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/tests/data/config/v1alpha1_base+qemu_single_host_no_asg.yaml
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg.yaml
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb.yaml
Due: mypy, pylint

AGENT-121: InfluxDB connected
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb.yaml
Due: mypy, pylint

AGENT-121: Fix timestamp conversion, influxdb call
  README.md
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/qemu_data.py
  src/premiscale/metrics/timeseries/influxdb.py
Due: mypy, pylint, cog

AGENT-121: Sync
  poetry.lock
  src/premiscale/hypervisor/esx_data.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/qemu_data.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/timeseries/influxdb.py
Due: mypy, pylint

AGENT-121: Sync
  poetry.lock
  requirements.txt
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/esx.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

AGENT-121: Update log message
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

AGENT-121: Sync updates
  poetry.lock
  requirements.txt
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/config/v1alpha1.py
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/esx.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/qemu_data.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/state/local.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb.yaml
Due: mypy, pylint

AGENT-121: Fix timestamp
  src/premiscale/metrics/state/local.py
Due: mypy, pylint

AGENT-121: Fixed time problem
  src/premiscale/hypervisor/qemu_data.py
Due: mypy, pylint

master: fix figure branch ref
  README.md
Due: cog

AGENT-121: Update test configs; build out agent MySQL connection
  compose.yaml
  poetry.lock
  pyproject.toml
  src/premiscale/metrics/state/mysql.py
  src/premiscale/metrics/state/mysql_models.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/tests/data/config/v1alpha1_base+qemu_single_host_no_asg.yaml
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg.yaml
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb.yaml
Due: mypy, pylint

AGENT-121: Minor updates to configs
  poetry.lock
  requirements.txt
  src/tests/data/config/v1alpha1_base+qemu_single_host_no_asg.yaml
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg.yaml
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb_mysql.yaml
Due: none

AGENT-121: Sync profile changes to include MySQL
  compose.yaml
  src/premiscale/metrics/state/mysql.py
  src/tests/data/config/v1alpha1_base+qemu_two_hosts_no_asg_influxdb_mysql.yaml
Due: mypy, pylint

AGENT-121: Sync
  src/premiscale/config/v1alpha1.py
Due: mypy, pylint

AGENT-121: Sync repo changes
  src/premiscale/autoscaling/group.py
  src/premiscale/config/__init__.py
  src/premiscale/config/_v1alpha1.py
  src/premiscale/config/parse.py
  src/premiscale/daemon.py
  src/premiscale/hypervisor/__init__.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/state/_mysql_models.py
  src/premiscale/metrics/state/mysql.py
  src/premiscale/metrics/state/sql/__init__.py
  src/premiscale/metrics/state/sql/create_asg.sql
  src/premiscale/metrics/state/sql/initialize_database.sql
  src/premiscale/metrics/timeseries/influxdb.py
  src/premiscale/reconciliation/internal.py
  src/premiscale/reconciliation/kubernetes.py
  src/test_hook.py
Due: mypy, pylint

AGENT-121: Sync
  src/premiscale/metrics/state/mysql.py
Due: mypy, pylint

AGENT-121: Updates
  src/premiscale/api/healthcheck/routes.py
  src/premiscale/metrics/state/mysql.py
Due: mypy, pylint

Path conditions:
  mypy: any of: src/ and \.py$
  pylint: any of: src/ and \.py$
  cog: any of: ^(README.md|src/premiscale/controller/cli.py)$ and \.(md|markdown|mdown)$
