Repository premiscale/premiscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cog

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.0.4
# fail_fast: true

default_stages:
  - commit
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=10000, --enforce-all]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: mypy
        language: script
        name: mypy
        entry: /usr/bin/env poetry run mypy
        args:
          - --non-interactive
          - --install-types
          - --config-file=pyproject.toml
        files: src/
        types:
          - python
      - id: pylint
        language: script
        name: pylint
        entry: /usr/bin/env poetry run pylint
        args: []
        files: src/
        types:
          - python
      - id: cog
        language: script
        name: cog
        entry: /usr/bin/env poetry run cog --check -r -c -U README.md
        args: []
        files: ^(README.md|src/premiscale/controller/cli.py)$
        types:
          - markdown
        # additional_dependencies:
        #   - cog

  # Abuse the helm-readme-generator to generate READMEs for the CRDs and operator.
  - repo: https://github.com/bitnami/readme-generator-for-helm
    rev: 2.6.1
    hooks:
      - id: helm-readme-generator
        name: controller default config docs generator
        pass_filenames: false
        always_run: true
        # As new default configs are added and the versions bumped, we should be changing the '--readme' pointer.
        args:
          - --readme=src/premiscale/config/docs/default.md
          - --values=src/premiscale/config/default.yaml
      - id: helm-readme-generator
        name: controller-helm-chart-schema-generator
        pass_filenames: false
        always_run: true
        args:
          - --readme=helm/premiscale/README.md
          - --values=helm/premiscale/values.yaml
          - --schema=helm/premiscale/values.schema.json

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        args:
          - -x

  - repo: https://github.com/bjd2385/circleci-config-pre-commit-hook
    rev: v1.1.2
    hooks:
      - id: circleci-config-validate

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint
        args:
          - Dockerfile
          - --config
          - .github/.hadolint.yaml

  # - repo: https://github.com/k-ogawa-1988/yamale-pre-commit
  #   rev: v0.0.2
  #   hooks:
  #     - id: yamale-validate
  #       args:
  #         - conf/schema.yaml

  # - repo: https://github.com/gruntwork-io/pre-commit
  #   rev: v0.1.22
  #   hooks:
  #     - id: helmlint

  - repo: https://github.com/python-poetry/poetry
    rev: 1.5.0
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.13
    hooks:
      - id: validate-pyproject

  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   rev: v0.0.237
  #   hooks:
  #     - id: ruff
  #       args: [--fix]
  #       exclude: ^resources

  - repo: https://github.com/premiscale/pre-commit-hooks
    rev: v0.0.9
    hooks:
    - id: msg-issue-prefix

store-vm-data: fixes
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

store-vm-data: retrieving VM stats
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

store-vm-data: parse returned vm metrics
  src/premiscale/hypervisor/_schemas.py
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

store-vm-data:
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/esx.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/xen.py
Due: mypy, pylint

store-vm-data: extend instead of for-loop
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

store-vm-data: spacing for readability
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

store-vm-data: fix printing of tracebacks on subprocesses
  src/premiscale/daemon.py
Due: mypy, pylint

store-vm-data: cache docker build steps
  Dockerfile
  src/premiscale/daemon.py
  src/premiscale/hypervisor/_schemas.py
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

store-vm-data: builds as quick as 27s
  Dockerfile
Due: none

store-vm-data: successfully parsed host metrics into a dataclass
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

store-vm-data: fix SQLite limitations with threaded operations
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/hypervisor/_schemas.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/state/_base.py
  src/premiscale/metrics/state/local.py
  src/premiscale/metrics/state/mysql.py
Due: mypy, pylint

store-vm-data: extend profiling
  Dockerfile
  compose.yaml
  poetry.lock
  pyproject.toml
  scripts/docker/compose-up.sh
Due: none

store-vm-data: fix scripts, parse data
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/docker/compose-down.sh
  scripts/docker/compose-up.sh
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

store-vm-data: add tinyflux dep for in-memory time-series database
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

store-vm-data: fix for exception
  src/premiscale/hypervisor/_schemas.py
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

master: license fixes
  Dockerfile
  package.json
Due: none

AGENT-81: Research collected host and virtual machine metrics
  src/premiscale/hypervisor/qemu.py
  src/premiscale/metrics/timeseries/local.py
  src/tests/data/metrics/_-getHostVMStats-annotated.txt
  src/tests/data/metrics/_-getHostVMStats.dict
  src/tests/data/metrics/rocinante-local-getHostStats.json
  src/tests/data/metrics/tynan-local-getHostStats.json
Due: mypy, pylint

AGENT-81: Update diagrams
  img/premiscale-architecture-controller_internal_autoscaler_disabled.png
  img/premiscale-architecture-controller_internal_autoscaler_enabled.png
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

AGENT-81: Update readme
  README.md
Due: cog

AGENT-81: update pyproject
  pyproject.toml
Due: none

AGENT-81: Additional classifiers
  pyproject.toml
Due: none

AGENT-81: update docs
  README.md
Due: cog

master: update
  .circleci/config.yml
Due: none

master: fix pipeline
  .circleci/config.yml
  .pypirc
Due: none

master: links need to be absolute for external page refs
  README.md
Due: cog

master: update diagrams with logos
  img/premiscale-architecture-controller_internal_autoscaler_disabled.png
  img/premiscale-architecture-controller_internal_autoscaler_enabled.png
Due: none

AGENT-80: Timeseries data write
  poetry.lock
  pyproject.toml
  requirements.txt
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/daemon.py
  src/premiscale/metrics/__init__.py
Due: mypy, pylint

AGENT-80: Update local storage options for time series database
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/default.md
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/config/v1alpha1.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/timeseries/local.py
  src/tests/data/metrics/_-getHostVMStats.dict
Due: mypy, pylint

AGENT-80: reverse notes with data
  src/premiscale/metrics/__init__.py
  src/tests/data/metrics/_-getHostVMStats-annotated.txt
  src/tests/data/metrics/_-getHostVMStats.dict
Due: mypy, pylint

AGENT-80: Still reconciling collected data
  src/premiscale/hypervisor/qemu.py
  src/tests/data/metrics/tynan-getHostStats-annotated.txt
  src/tests/data/metrics/tynan-getHostStats.dict
Due: mypy, pylint

AGENT-80: Nits
  src/premiscale/hypervisor/_schemas.py
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

AGENT-80: Continue implementing logic for time series data collection; fix CI
  .circleci/config.yml
  .circleci/src.premiscale.config.data.yml
  .circleci/src.yml
  poetry.lock
  src/premiscale/config/default.yaml
  src/premiscale/config/docs/default.md
  src/premiscale/config/schemas/schema.v1alpha1.yaml
  src/premiscale/config/v1alpha1.py
  src/premiscale/hypervisor/_base.py
  src/premiscale/hypervisor/esx.py
  src/premiscale/hypervisor/qemu.py
  src/premiscale/hypervisor/xen.py
  src/premiscale/metrics/__init__.py
  src/premiscale/metrics/state/_base.py
  src/premiscale/metrics/state/local.py
  src/premiscale/metrics/state/mysql.py
  src/premiscale/metrics/timeseries/_base.py
  src/premiscale/metrics/timeseries/influxdb.py
  src/premiscale/metrics/timeseries/local.py
Due: mypy, pylint

AGENT-80: Fix pipeline
  .circleci/src.yml
Due: none

AGENT-80: Fix dependencies
  .circleci/config.yml
  .circleci/src.premiscale.config.data.yml
  .circleci/src.yml
Due: none

AGENT-80: Fix
  .circleci/src.yml
Due: none

AGENT-80: Fix Qemu interface
  src/premiscale/hypervisor/qemu.py
Due: mypy, pylint

AGENT-80: Bump orb version
  .circleci/config.yml
  .circleci/src.premiscale.config.data.yml
  .circleci/src.yml
Due: none

AGENT-80: print helpful little messages
  .circleci/config.yml
  .circleci/src.premiscale.config.data.yml
  .circleci/src.yml
Due: none
